table {
  border-collapse: collapse;
  width: 91%;
  position: relative;
  justify-content: center;
  height: 80%;
  background: rgba(233, 230, 230, 0.842);
 margin-left: 70px;
 text-align: center;

}

th,
td {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ddd;
  width: 13%;
  height: 50px;
  background: transparent;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  padding: -1px 88px 0 5px;
  color: #000000;
}

th {
  font-weight: bold;
  background: transparent;
  text-align: center;
}

tr:hover {
  background-color: #ffffff;
  cursor: pointer;
}
 tbody{
  text-align: center;
 }